body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  margin: 10px 10% 10px 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

.navigation_container {
  margin: 40px auto auto auto;
  width: 80%;
  flex-direction: column;
}

.rectangle {
  background: #546e7a;
  min-height: 72px;
  height: auto;
  width: 100%;
  position: relative;
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  z-index: 500; /* the stack order: foreground */
  margin: 0 auto;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.l-triangle-top {
  margin-top: 6px;
  border-color: #546e7a transparent transparent;
  border-style:solid;
  border-width:50px;
  height:0px;
  width:0px;
  position: relative;
  float: left;
  top: 1px;
  left: -50px;
}

.l-triangle-bottom {
  margin-top: 6px;
  border-color: transparent transparent #546e7a;
  border-style:solid;
  border-top-width:50px;
  border-bottom-width:50px;
  border-left-width: 50px;
  border-top-right-radius: 100%;
  height:0px;
  width:20px;
  position: relative;
  float: left;
  top: -30px;
  left: -150px;
}

.r-triangle-top {
  margin-top: 6px;
  border-color: #546e7a transparent transparent;
  border-style:solid;
  border-top-width:50px;
  border-right-width:50px;
  border-bottom-width:50px;
  border-left-width: 50px;
  height:0px;
  width:0px;
  position: relative;
  float: right;
  right: -48px;
  top: -72px;
}

.r-triangle-bottom {
  margin-top: 6px;
  border-color: transparent transparent #546e7a #546e7a;
  border-style: solid;
  border-top-width: 50px;
  border-right-width: 50px;
  border-bottom-width: 50px;
  border-top-left-radius: 110%;
  height: 0px;
  width: 20px;
  position: relative;
  float: right;
  top: -102px;
  right: -148px;
}

.l {
  margin-left: 10px;
}

.r {
  margin-right: 10px;
}

.input::placeholder {
  color: #ffffff;
  font-size: inherit;
  opacity: 0.3;
  font-weight: bold;
}

.input:focus {
  outline: none;
}

.btn-primary {
  color: #ffffff;
  font-weight: bold;
  background-color: #b71c1c;
  padding: 10px 10px 10px 10px;
  border-color: #ff8a80;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 0 0 #ffffff;
  text-decoration: none;
}

.btn-primary:hover {
  color: #ffffff;
  font-weight: bold;
  background-color: #ff8a80;
  padding: 10px 10px 10px 10px;
  border-color: #ff8a80;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 5px 0 #9e9e9e;
}

.btn-primary:active {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  border-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 5px 0 #9e9e9e;
}


